/* Reset Basico CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

html, body {
  height: 100%;
  font-family: var(--font-arial);
  background-color: var(--soft-white);
  color: var(--moss-green);
}

/* Variáveis Tema */

:root {
  /* Colors */
  --soft-white: #F9FAFB;
  --moss-green: #011C15;
  --light-natural-green: #D2EDBE;
  --green-forest: #01402F;
  --brigth-green: #22B54B;
  --highlight-green: #D0FE95;
  --background-gradient: linear-gradient(180deg, #D0FE95 0%, #F9FAFB 100%);

  /*Typography */
  --font-coolvetica: 'Coolvetica', sans-serif;
  --font-arial: 'Arial', sans-serif;

  --coolv-title-one: 28px;       /* 1.75rem */
  --coolv-title-two: 22px;       /* 1.375rem */
  --coolv-title-thr: 18px;       /* 1.125rem */
  --coolv-title-regular: 400;

  --arial-text: 16px;            /* 1rem */
  --arial-text-label: 14px;      /* 0.875rem */
  --arial-text-regular: 400;
  --arial-text--semibold: 600;

    /*Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-120: 7.5rem;
  --space-124: 7.75rem;
  --space-175: 10.973rem;
  --space-200: 12.5rem;
}